# Untuk Localhost:
# VITE_API_BASE_URL=http://localhost:8000
# VITE_DASHBOARD_URL=http://localhost:5174

# Untuk Produksi / VPS:
# VITE_API_BASE_URL=https://api.smansa.m-tech.fun
# VITE_DASHBOARD_URL=https://dashboard.smansa.m-tech.fun

VITE_API_BASE_URL=http://localhost:8000
VITE_API_URL=http://localhost:8000
VITE_API_KEY=smansa123
VITE_DASHBOARD_URL=http://localhost:5174
VITE_FRONTEND_URL=http://localhost:5174
