<IfModule mod_rewrite.c>
  RewriteEngine On

  # 1. Paksa Pengalihan ke HTTPS
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # 2. Handle SPA Routing (React/Vite)
  # Supaya kalau di-refresh di halaman selain / tidak 404
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-e
  RewriteRule . /index.html [L]
</IfModule>